/*Frame _ Base for all application*/

QFrame#frame_base{
background-color:rgb(24,25,29);
}

/*Frame _ Right side Qstacked containing frame*/
QFrame#frame_mian_right{

	background-color: rgb(40, 46, 51);
}



/*******************************/
/*Frame _ for home page (IMP) */
QFrame#frame_home{
background-color: rgb(40, 46, 51);

}



/*******************************/

/*Frame _ frame for combobox main for combo box background*/
QFrame#frame_for_combo_box{

background-color: rgb(40, 46, 51);

}




/*******************************/
/*Frame _ frame for settings main*/
QFrame#frame_settings_main
{


	background-color: rgb(40, 46, 51);
}



/*******************************/
/*Frame _ frame of about page main*/
QFrame#frame_about_main{

background-color: rgb(40, 46, 51);
}




/*******************************/
/*Frame _ top for all application*/
QFrame#frame_top{
background-color: rgb(40, 46, 51);

}





/*******************************/
/*Frame _ top right*/

QFrame#frame_top_right{
background-color: rgb(84, 96, 107);
}


/*******************************/
/*Frame _ frame toggle*/
QFrame#frame_toggle{

background-color: rgb(24, 25, 29);
}



/*******************************/
/*Frame _ Base for all application*/




/*******************************/
/*Frame _ Base for all application*/




/*******************************/
/*Frame _ Base for all application*/




/*******************************/
/*One and only QStacked*/

QStackedWidget#pages{

	
	background-color: rgb(40, 46, 51);
}




/*******************************/

































/* Buttons*/
/*Button _ for buttom about at left bottom*/

QPushButton#button_about
{
color: rgb(240, 240, 240);
background-color: rgb(24, 25, 29);
border:0px  solid black;
}
QPushButton#button_about:pressed
{
background-color: rgb(40, 46, 51);
}

/********** Buttom Home ********/
QPushButton#button_home{
	
	color: rgb(240, 240, 240);
	
	background-color: rgb(24, 25, 29);
	border:none;

}
QPushButton#button_home:pressed{
background-color: rgb(40, 46, 51);
}
/********** Buttom settings ********/


QPushButton#button_settings
{

	color: rgb(240, 240, 240);
	background-color: rgb(24, 25, 29);
	border:none;

}
QPushButton#button_settings:pressed
{

	
	background-color: rgb(40, 46, 51);
	border:none;

}

QPushButton#button_toggle{

	background-color: rgb(24, 25, 29);
	border:0px solid;

}
QPushButton#button_history
{

	color: rgb(240, 240, 240);
	background-color: rgb(24, 25, 29);
	border:none;

}
QPushButton#button_history:pressed
{

	
	background-color: rgb(40, 46, 51);
	border:none;

}


/*Download Button*/
QPushButton#download_button{
	color: rgb(240, 240, 240);
	
	background-color: rgb(24, 25, 29);
	border: 0px solid black;
	border-radius:10px;

}
QPushButton#download_button:pressed{
background-color: rgb(58, 60, 70);
}


/*Get info button*/
QPushButton#button_getinfo{
	
	color: rgb(240, 240, 240);
	
	background-color: rgb(24, 25, 29);
		border: 0px solid black;
	border-radius:10px;

}
QPushButton#button_getinfo:pressed{
background-color: rgb(58, 60, 70);
}
/*Paste button*/
QPushButton#button_paste{
	
	color: rgb(240, 240, 240);
	
	background-color: rgb(24, 25, 29);
	border: 0px solid black;
	border-radius:10px;

}
QPushButton#button_paste:hover{

}
QPushButton#button_paste:pressed{
background-color: rgb(58, 60, 70);
}
/*one and only tool Button*/

QToolButton{
	
	color: rgb(240, 240, 240);
	
	background-color: rgb(24, 25, 29);
		border: 0px solid black;
	border-radius:10px;

}
QTololButton#toolButton:pressed{
background-color: rgb(58, 0, 70);
}

/*Dark mode on and offf button on settings page*/

QPushButton#dark_mode_onoff_button{

background-color: rgb(40, 46, 51);
border:none;
}

QPushButton#track_downloads_button{

	background-color: rgb(40, 46, 51);
	border:none;
	}
QPushButton#history_delete_button
{


	color: rgb(240, 240, 240);
	border:none;

}
QPushButton#history_delete_button:pressed
{

	
	background-color: rgb(40, 46, 51);
	border:none;

}


/* Github and Telegra Buttons*/

QPushButton#github_button{
border:none;



}
QPushButton#telegram_button
{
border:none;



}

/**********************************/


/* Line edit for link*/
QLineEdit#link_linedit{
color: rgb(255, 255, 255);
border:0px solid black;
border-radius:5px;
	background-color: rgb(89, 92, 107);

}

/*Line Edit- for save as */

QLineEdit#save_as_linedit{
color: rgb(255, 255, 255);
border:0px solid black;
border-radius:5px;
	background-color: rgb(89, 92, 107);

}


QProgressBar{

	color: rgb(240, 240, 240);

	border: 1px solid black;

	border-radius:5px;
	
	background-color: rgb(89, 92, 107);


}
/*Progress-Bar*/

QProgressBar::chunk{

border-radius:5px;
background-color: rgb(24, 25, 29);

}
QProgressBar:hover{

	border-color: rgb(40, 46, 51)

}
/*ComboBox*/

QComboBox{

	
	color: rgb(240, 240, 240);
	background-color: rgb(24, 25, 29);
	border:none solid ;
	border-radius:10px;

}
QComboBox:drop-down {
    width: 0px;
}
QComboBox:on {
   
	background-color: rgb(89, 92, 107);
}
/*Radio Button for Green*/


QRadioButton#green_radio_button{

color: rgb(225, 225, 225);
}
QRadioButton#pink_radio_button{

color: rgb(225, 225, 225);
}
QRadioButton#default_radio_button{

color: rgb(225, 225, 225);
}



QLabel#night_mode_label{
color:rgb(250,250,250);
}
QLabel#choose_you_theme_label{
color:rgb(250,250,250);
}
QLabel#label_info{
color:rgb(250,250,250);
}
QLabel#save_as_label{
color:rgb(250,250,250);
}
QLabel#title_label{
color:rgb(250,250,250);
}
QLabel#status_bar{
color:rgb(250,250,250);
}
QLabel#views{
color:rgb(250,250,250);
}
QLabel#length_label{
color:rgb(250,250,250);
}
QLabel#title_history_label{
color:rgb(250,250,250);
}
QLabel#history_delete_label{
	color:rgb(250,250,250);
}
QLabel#track_history_label{

	color:rgb(250,250,250);
}

QWidget#scrollAreaWidgetContents{
	background-color: rgb(40, 46, 51);
}

QScrollArea#scrollArea{
	background-color:rgb(40,46,51); 
	border-radius: 0%;
}
QFrame#frame_right{
	background-color:rgb(40,46,51); 
}
QVBoxLayout#history_layout{
	background-color:rgb(40,46,51); 
}

QScrollBar:horizontal
{
	height: 15px;
	margin: 3px 15px 3px 15px;
	border: 1px transparent #2A2929;
	border-radius: 4px;
	background-color: rgb(40, 46, 51);    /* #2A2929; */
}

QScrollBar::handle:horizontal
{
	background-color: rgb(24, 25, 29);     /* #605F5F; */
	min-width: 5px;
	border-radius: 4px;
}

QScrollBar::add-line:horizontal
{
	margin: 0px 3px 0px 3px;
	border-image: url(:/qss_icons/rc/right_arrow_disabled.png);
	width: 10px;
	height: 10px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
	margin: 0px 3px 0px 3px;
	border-image: url(:/qss_icons/rc/left_arrow_disabled.png);
	height: 10px;
	width: 10px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on
{
	border-image: url(:/qss_icons/rc/right_arrow.png);
	height: 10px;
	width: 10px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}


QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on
{
	border-image: url(:/qss_icons/rc/left_arrow.png);
	height: 10px;
	width: 10px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
{
	background: none;
}


QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
	background: none;
}

QScrollBar:vertical
{
	background-color:rgb(40,46,51); 
	width: 15px;
	margin: 15px 3px 15px 3px;
	border: 1px transparent #2A2929;
	border-radius: 4px;
}

QScrollBar::handle:vertical
{
	  
	background-color: rgb(24, 25, 29);     /* #605F5F; */
	min-height: 5px;
	border-radius: 4px;
}

QScrollBar::sub-line:vertical
{
	margin: 3px 0px 3px 0px;
	border-image: url(:/qss_icons/rc/up_arrow_disabled.png);
	height: 10px;
	width: 10px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::add-line:vertical
{
	margin: 3px 0px 3px 0px;
	border-image: url(:/qss_icons/rc/down_arrow_disabled.png);
	height: 10px;
	width: 10px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on
{
	border-image: url(:/qss_icons/rc/up_arrow.png);
	height: 10px;
	width: 10px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on
{
	border-image: url(:/qss_icons/rc/down_arrow.png);
	height: 10px;
	width: 10px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
	background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
	background: none;
}


QPushButton#history_delete_button{
	
	color: rgb(240, 240, 240);

	border: 0px solid black;
	border-radius:10px;

}
QPushButton#history_delete_button:pressed{
	background-color: rgb(58, 60, 70);}
/********** Buttom settings ********/




QLineEdit#download_location_linedit{
		color: rgb(255, 255, 255);
		border:0px solid black;
		border-radius:5px;
		background-color: rgb(89, 92, 107);
	}
QLabel#download_location_label
{
	color:rgb(250,250,250);
	}